.day-block {
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border: none;
    border-radius: 57px;
    padding-bottom: 50px;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.event-date-container{
    display: block;
    margin-top: 46px;
    align-self: center;
    width: 132px;
    height: 38px;
    background: var(--blue-dark);
    border: none;
    border-radius: 9px;
}

.date-style {
    text-align: center;
    color: var(--primary);
    vertical-align: middle;
    line-height: 38px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.week-style {
    margin-top: 18px;
    text-align: center;
    color: var(--black);
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.event-container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.event-type-text {
    width: 80px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    line-height: 23px;
    color: var(--orange);
    background: var(--primary);
    border: none;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 500;
}

.event-default-text {
    margin-top: 18px;
    color: var(--black);
    width: 24vw;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


.event-time-default {
    width: 10vw;
    color: var(--gray-light);
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.event-info {
    width: 15vw;
}

.event-description {
    color: var(--gray-dark);
    display: none;
    margin-top: 10px;
}
